.App {
  text-align: center;
}
body {
  background: linear-gradient(90deg, #300031 0%, #00146b 100%);

  /*background: rgb(49, 38, 226);
  background: linear-gradient(
    90deg,
    rgba(49, 38, 226, 1) 0%,
    rgba(247, 183, 183, 1) 50%,
    rgba(26, 41, 195, 1) 100%
  );*/

  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: rgb(255, 255, 255);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 19px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #cbeccb 100%);
  grid-column: 1;
  grid-row: 1;
}
.two {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 19px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #cbeccb 100%);
  grid-column: 2 / 4;
  grid-row: 1 / 5;
}
.three {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 19px;
  background: linear-gradient(to bottom, #f5f5f5 0%, #cbeccb 100%);
  grid-column: 1;
  grid-row: 2 / 5;
}
